<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to FirebaseRTC</title>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="/main.css" />

  <!--
  <script defer src="/__/firebase/5.9.3/firebase-app.js"></script>
  <script defer src="/__/firebase/5.9.3/firebase-firestore.js"></script>
  <script defer src="/__/firebase/init.js"></script>
  -->
</head>

<body>
  <h1>화상챗 & 화면공유</h1>
  <div id="buttons">
    <button class="mdc-button mdc-button--raised" id="cameraBtn">
      <i class="material-icons mdc-button__icon" aria-hidden="true">perm_camera_mic</i>
      <span class="mdc-button__label">Open camera & microphone</span>
    </button>
    <button class="mdc-button mdc-button--raised" disabled id="createBtn">
      <i class="material-icons mdc-button__icon" aria-hidden="true">group_add</i>
      <span class="mdc-button__label">Create room</span>
    </button>
    <button class="mdc-button mdc-button--raised" disabled id="joinBtn">
      <i class="material-icons mdc-button__icon" aria-hidden="true">group</i>
      <span class="mdc-button__label">Join room</span>
    </button>
    <button class="mdc-button mdc-button--raised" disabled id="hangupBtn">
      <i class="material-icons mdc-button__icon" aria-hidden="true">close</i>
      <span class="mdc-button__label">Hangup</span>
    </button>
    <button class="mdc-button mdc-button--raised" disabled id="screenBtn">
      <i class="material-icons mdc-button__icon" aria-hidden="true">screen_share</i>
      <span class="mdc-button__label">Share screen</span>
    </button>
  </div>
  <div>
    <span id="currentRoom"></span>
  </div>
  <div id="videos">
    <video id="localVideo" muted autoplay playsinline></video>
  </div>
  <div class="mdc-dialog" id="room-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <h2 class="mdc-dialog__title" id="my-dialog-title">Join room</h2>
        <div class="mdc-dialog__content" id="my-dialog-content">
          Enter ID for room to join:
          <div class="mdc-text-field">
            <input type="text" id="room-id" class="mdc-text-field__input" />
            <label class="mdc-floating-label" for="my-text-field">Room ID</label>
            <div class="mdc-line-ripple"></div>
          </div>
        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
            <span class="mdc-button__label">Cancel</span>
          </button>
          <button id="confirmJoinBtn" type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
            <span class="mdc-button__label">Join</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    mdc.ripple.MDCRipple.attachTo(document.querySelector(".mdc-button"));

    const socket = io.connect("http://localhost:3000");

    // 공동 구역
    let roomId = null;
    let mediaConnections = {};
    let screenConnections = {};
    let peerStreams = {};

    let localVideo = document.getElementById("localVideo");
    let cameraBtn = document.getElementById("cameraBtn");
    let joinBtn = document.getElementById("joinBtn");
    let createBtn = document.getElementById("createBtn");
    let hangupBtn = document.getElementById("hangupBtn");
    let roomDialog = new mdc.dialog.MDCDialog(document.getElementById("room-dialog"));
    let screenBtn = document.getElementById("screenBtn");

    cameraBtn.addEventListener("click", openUserMedia);
    createBtn.addEventListener("click", createRoom);
    joinBtn.addEventListener("click", joinRoom);
    screenBtn.addEventListener("click", openLocalScreen);

    async function openUserMedia() {
      const stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
        video: true,
      });
      localVideo.srcObject = stream;
      socket.stream = stream;

      console.log("Stream:", localVideo.srcObject);
      cameraBtn.disabled = true;
      joinBtn.disabled = false;
      createBtn.disabled = false;
      hangupBtn.disabled = false;
    }

    async function createRoom() {
      createBtn.disabled = true;
      joinBtn.disabled = true;

      console.log("createRoom requested", socket.id);
      socket.emit("createRoom", {
        socketId: socket.id,
      });
    }

    function joinRoom(e) {
      document.querySelector("#createBtn").disabled = true;
      document.querySelector("#joinBtn").disabled = true;

      document.querySelector("#confirmJoinBtn").addEventListener(
        "click",
        () => {
          const roomId = document.querySelector("#room-id").value;
          console.log("Join room: ", roomId);

          socket.emit("joinRoom", {
            roomId: roomId,
          });
        },
        { once: true }
      );
      roomDialog.open();
    }

    function registerPeerConnectionListeners(peerConnection) {
      peerConnection.addEventListener("icegatheringstatechange", () => {
        console.log(`ICE gathering state changed: ${peerConnection.iceGatheringState}`);
      });

      peerConnection.addEventListener("connectionstatechange", () => {
        console.log(`Connection state change: ${peerConnection.connectionState}`);
      });

      peerConnection.addEventListener("signalingstatechange", () => {
        console.log(`Signaling state change: ${peerConnection.signalingState}`);
      });

      peerConnection.addEventListener("iceconnectionstatechange ", () => {
        console.log(`ICE connection state change: ${peerConnection.iceConnectionState}`);
      });
    }

    function createNewRemoteVideo(remoteId, remoteStream) {
      let remoteVideo = document.createElement("video");
      remoteVideo.srcObject = remoteStream;
      remoteVideo.autoplay = true;
      remoteVideo.playsinline = true;
      remoteVideo.id = remoteId;
      document.getElementById("videos").appendChild(remoteVideo);
    }

    function createNewRemoteScreen(remoteId, remoteStream) {
      let remoteScreen = document.createElement("video");
      remoteScreen.srcObject = remoteStream;
      remoteScreen.autoplay = true;
      remoteScreen.playsinline = true;
      remoteScreen.id = remoteId;
      document.getElementById("videos").appendChild(remoteScreen);
    }

    const getNewRTCConnection = () => {
      return new RTCPeerConnection({
        iceServers: [
          {
            urls: ["stun:stun1.l.google.com:19302", "stun:stun2.l.google.com:19302"], // 구글 공개 STUN 서버
          },
        ],
        iceCandidatePoolSize: 10,
      });
    }

    const handleOffer = async (data, targetSocket, connections, option) => {
      let { remoteId, offer } = data;

      console.log("received offer from", remoteId);

      connections[remoteId] = getNewRTCConnection();

      registerPeerConnectionListeners(connections[remoteId]);

      if (option.type != "screen") {
        peerStreams[remoteId] = new MediaStream();
        createNewRemoteVideo(remoteId, peerStreams[remoteId]);
        connections[remoteId].ontrack = (event) => {
          console.log("Got remote track:", event.streams[0]);
          event.streams[0].getTracks().forEach((track) => {
            console.log("Add a track to the remoteStream:", track);
            peerStreams[remoteId].addTrack(track);
          });
        };
      }

      await connections[remoteId].addStream(targetSocket.stream);

      await connections[remoteId].setRemoteDescription(new RTCSessionDescription(offer));
      const answer = await connections[remoteId].createAnswer();
      await connections[remoteId].setLocalDescription(answer);
      console.log("sending answer to", remoteId);
      targetSocket.emit("answer", {
        localId: targetSocket.id,
        remoteId: remoteId,
        roomId: roomId,
        answer: answer,
      });

      // collecting ice candidate
      connections[remoteId].addEventListener("icecandidate", (event) => {
        if (!event.candidate) {
          console.log("Got final candidate!");
          return;
        }
        console.log("Got candidate: ", event.candidate);
        targetSocket.emit("iceFromUser", {
          localId: targetSocket.id,
          remoteId: remoteId,
          roomId: roomId,
          candidate: event.candidate,
        });
      });

      console.log(connections);
    }

    const handleJoinRoom = async (data, targetSocket, connections, option) => {
      let { remoteId } = data;

      console.log("joined socket id:", remoteId);

      connections[remoteId] = getNewRTCConnection();

      registerPeerConnectionListeners(connections[remoteId]);

      if (option.type != "screen") {
        peerStreams[remoteId] = new MediaStream();
        createNewRemoteVideo(remoteId, peerStreams[remoteId]);
        connections[remoteId].ontrack = (event) => {
          console.log("Got remote track:", event.streams[0]);
          event.streams[0].getTracks().forEach((track) => {
            console.log("Add a track to the remoteStream:", track);
            peerStreams[remoteId].addTrack(track);
          });
        };
      }

      await connections[remoteId].addStream(targetSocket.stream);

      const offer = await connections[remoteId].createOffer();
      await connections[remoteId].setLocalDescription(offer);
      console.log("sending offer to", remoteId);
      targetSocket.emit("offer", {
        localId: targetSocket.id,
        remoteId: remoteId,
        roomId: roomId,
        offer: offer,
      });


      // collecting ice candidate
      connections[remoteId].addEventListener("icecandidate", (event) => {
        if (!event.candidate) {
          console.log("Got final candidate!");
          return;
        }
        console.log("Got candidate: ", event.candidate);
        targetSocket.emit("iceFromRoom", {
          localId: targetSocket.id,
          remoteId: remoteId,
          roomId: roomId,
          candidate: event.candidate,
        });
      });
    }

    const handleIceFromRoom = async (data, connections) => {
      let { remoteId, candidate } = data;

      console.log("received ice candidate from", remoteId);

      try {
        await connections[remoteId].addIceCandidate(new RTCIceCandidate(candidate));
      } catch (e) {
        console.error("Error adding received ice candidate", e);
      }
    }

    const handleIceFromUser = async (data, connections) => {
      let { remoteId, candidate } = data;

      console.log("received ice candidate from", remoteId);

      try {
        await connections[remoteId].addIceCandidate(new RTCIceCandidate(candidate));
      } catch (e) {
        console.error("Error adding received ice candidate", e);
      }
    }

    const handleAnswer = async (data, connections) => {
      let { remoteId, answer } = data;

      console.log("received answer from", remoteId);

      await connections[remoteId].setRemoteDescription(new RTCSessionDescription(answer));
    }

    const handleJoinRoomResult = async (data) => {
      let { result } = data;

      if (result) {
        console.log("joinRoomResult", data);
        roomId = data.roomId;
        document.getElementById("currentRoom").innerText = `Current room is ${roomId}`;
      } else {
        document.querySelector("#createBtn").disabled = false;
        document.querySelector("#joinBtn").disabled = false;
        alert("Failed to join room. Please try again.");
      }
    }

    const handleCreateRoom = async (data) => {
      console.log("createRoom", data.roomId);
      roomId = data.roomId;
      document.getElementById("currentRoom").innerText = `Current room is ${roomId}`;

      screenBtn.disabled = false;
    }

    async function openLocalScreen() {
      const screenSocket = io.connect("http://localhost:3000");

      let screenStream = await navigator.mediaDevices.getDisplayMedia({
        video: true,
        audio: true,
      });

      screenSocket.stream = screenStream;

      screenBtn.disabled = true;

      screenSocket.on("offer", (data) => handleOffer(data, screenSocket, screenConnections, { type: "screen" }));
      screenSocket.on("answer", async (data) => handleAnswer(data, screenConnections));
      screenSocket.on("iceFromUser", async (data) => handleIceFromUser(data, screenConnections));

      screenSocket.on("joinRoom", (data) => handleJoinRoom(data, screenSocket, screenConnections, { type: "screen" }));
      screenSocket.on("iceFromRoom", async (data) => handleIceFromRoom(data, screenConnections));

      screenSocket.emit("joinRoom", {
        roomId: roomId,
      });
    }

    socket.on("createRoom", (data) => handleCreateRoom(data));

    // 기존에 방에 있는 사람이 받는 이벤트
    socket.on("joinRoom", (data) => handleJoinRoom(data, socket, mediaConnections, { type: "media" }));
    socket.on("answer", async (data) => handleAnswer(data, mediaConnections));
    socket.on("iceFromUser", async (data) => handleIceFromUser(data, mediaConnections));

    // 신규로 방에 입장하는 사람이 받는 이벤트
    socket.on("joinRoomResult", (data) => handleJoinRoomResult(data));
    socket.on("offer", (data) => handleOffer(data, socket, mediaConnections, { type: "media" }));
    socket.on("iceFromRoom", async (data) => handleIceFromRoom(data, mediaConnections));
  </script>
</body>

</html>